.aa_footer2 {
  height: 50px;
  background-color: #333;
  color: white;
  text-align: center;
  line-height: 50px; /* Center the text vertically */
  //position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 5;
}