@import "abstracts/_variables";
@import "abstracts/_functions";
@import "abstracts/_mixins";

//@import "base/animations";
//@import "base/base";
//@import "base/typography";
@import "base/ms_fonts";
@import "base/parallax-wrapper";

//@import "base/utilities";

//@import "components/bg-video";
//@import "components/button";
@import "components/button2";
@import "components/card";
@import "components/fatnav";
@import "components/latest-news";
@import "components/ms-card";
@import "components/card-parallax";
@import "components/ms-header";
@import "components/mynav";
@import "components/contact-form";
@import "components/starwars-intro";
//@import "components/feature-box";
@import "components/form";

//@import "popup";
//@import "components/story";

@import "layout/footer";
@import "layout/grid";
@import "layout/header";
@import "layout/navigation";
@import "pages/home";
@import "pages/symbi";
//@import "pages/ms";
@import "pages/aa";
@import "pages/ms";
//@import "pages/home--1";

//@import "./index.css";

.wp-site-blocks {
  margin: -32;
  padding: 0;
}
.wp-block-group {
  margin-top: 0 !important;
}

ol.has-background, ul.has-background {
  padding: 0em;
}
body {
  overflow-y: auto;
  overflow-x: hidden;
}
#headerimg  {
  display: inline-grid;
}


