.CS-section {

}

.CS-title {
  width: 100%;
  text-align: center;
  background-color: #3d3c3c;
  color: whitesmoke;
}

.CS-button {
  position: absolute;
  right: 1rem;
}

.CS-btnimg {
  height: 1rem !important;
}