.contact_form-container {
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  max-width: pxToRem(1000px);
  width: 100%;
  padding: 0 pxToRem(30px) pxToRem(30px) pxToRem(30px);
  background-color: transparent;
  border-radius: pxToRem(8px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: auto;

  z-index: 10;
  h2 {
    margin-top: 0;
    text-align: center;
    margin-bottom: pxToRem(20px);
    color: whitesmoke;
  }

  .contact_form-row {
    display: flex;
    justify-content: space-between;
  }

  .contact_form-group {
    position: relative;
    margin-bottom: pxToRem(15px);

    &.half-width {
      width: 48%; // Adjust the width so that two fields fit in one row with some space
    }

    input, textarea {
      width: 100%;
      padding: pxToRem(10px);
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: pxToRem(16px);
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #007bff;
        outline: none;
      }

      &:focus + label,
      &:not(:placeholder-shown) + label {
        top: -6px;
        font-size: pxToRem(12px);
        color: #007bff;
        background-color: #ffffff;
        padding: 0 pxToRem(4px);
        border-radius: pxToRem(4px);
        left: pxToRem(8px);
      }
    }

    label {
      position: absolute;
      left: pxToRem(12px);
      top: pxToRem(12px);
      font-size: pxToRem(14px);
      color: #777;
      transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
    }
  }

  .contact_submit-button {
    display: block;
    width: 100%;
    padding: pxToRem(10px);
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }

#messageSentNotification {
    text-align: center;
    color: white;
    background-color: green;
    padding: pxToRem(10px);
    font-weight: bold;
    border-radius: 4px;
    margin-top: pxToRem(10px);
    display: none;
  }
}

.contact_checkbox-group {
  color: whitesmoke;
}