// My Nav

.MsNav {
  float: right;
  .menu-icon {
    display: none;
    cursor: pointer;
    font-size: pxToRem(30px); // Adjust size as needed
    ii {
      display: block; // Ensures the icon aligns correctly
    }
  }
}

.MsNav ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  //  padding-left: 25%;
  overflow: hidden;
  //background-color: transparent;
}

.MsNav ul li {
  float: left;
}

.MsNav ul li a {
  display: block;
  color: inherit;
  background-color: inherit;
  text-align: center;
  padding: pxToRem(12px) pxToRem(16px);
  text-decoration: none;

}

.MsNav ul li a:hover {
  color: black;
  background-color: #4c8df8;

}
.MsNav ul.active {
  display: block;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 12px; // Now 1rem equals 12px
  }

  .MsNav .menu-icon {
    display: block;
  }

  .MsNav ul {
    display: none; // Use flexbox instead of floats
    flex-direction: column; // Stack children vertically
    align-items: center; // Center items horizontally
    width: 100%; // Take up the full width
    padding: 0;
  }

  .MsNav ul li {
    width: 100%; // Each li takes up the full width of the ul
  }

  .MsNav ul.active {
    display: flex !important; // Flex should be applied here as well to keep the vertical layout
  }
}


.MsNav ul li.submenu ul {
  display: none;
  position: absolute;
  min-width: pxToRem(160px);
  margin-bottom: 2vh;
}

.MsNav ul li.submenu:hover ul {
  display: block;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.6);
}

.MsNav ul li.submenu ul li {
  float: none;
}

.MsNav ul li.submenu ul li a {
  padding: pxToRem(8px) pxToRem(16px);
  display: block;
  text-align: left;
}