// My Nav

.MyNav ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  //  padding-left: 25%;
  overflow: hidden;
  //background-color: transparent;
}

.MyNav ul li {
  float: left;
}

.MyNav ul li a {
  display: block;
  color: inherit;
  background-color: inherit;
  text-align: center;
  padding: pxToRem(12px) pxToRem(16px);
  text-decoration: none;

}

.MyNav ul li a:hover {
  color: black;
  background-color: #4c8df8;

}

.MyNav ul li.submenu ul {
  display: none;
  position: absolute;
  min-width: pxToRem(160px);
  margin-bottom: 2vh;
}

.MyNav ul li.submenu:hover ul {
  display: block;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.6);
}

.MyNav ul li.submenu ul li {
  float: none;
}

.MyNav ul li.submenu ul li a {
  padding: pxToRem(8px) pxToRem(16px);
  display: block;
  text-align: left;
}