.intro-start {
  position: fixed;
  bottom: 0;
  left: 5px;
  background: #0c88b4;
  border-style: solid;
  border-color: black;
  border-width: thin;
  border-radius: pxToRem(7px);
  color: black;
  z-index: 2;
}

.intro-stop {
  position: fixed;
  bottom: 0;
  left: 55px;
  background: #0c88b4;
  border-style: solid;
  border-color: black;
  border-width: thin;
  border-radius: pxToRem(7px);
  color: black;
  z-index: 5;
  transition: all 3s;
  &:hover {
    background: white;
  }
}

/* Set the font, lean the board, position it */
#board {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  transform: perspective(pxToRem(300px)) rotateX(10deg);
  transform-origin: 50% 100%;
  text-align: justify;
  position: absolute;
  margin-left: -11em;
  font-weight: bold;
  overflow: hidden;
  font-size: 350%;
  height: 50em;
  width: 18em;
  bottom: 0;
  left: 50%;
  opacity: 1;
  text-shadow: pxToRem(7px) pxToRem(7px) pxToRem(3px) rgba(0,0,0,0.6);
  z-index: 1;
 // background-color: black;
}

#IntroBackground {
  position: fixed;
  display: block;
  content: ' ';
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba( 0, 0, 0, .5);
  transition: all 3s;
  z-index: 0;
}

.droids {
  width: 70%;
  align-items: center;
  margin-left: 0;
  border-radius: 0;
  //transform: perspective(-3000px) rotateX(-40deg) !important;
 // transform-origin: 100% 50% !important;
}

.div_droids {
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  height: 30vh;
  width: 40vw;

  display: flex;
  border: 2px solid rgba(250, 188, 6, 0.87);;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.D-container {
  //display: flex;
  //border: 2px solid white;
  //align-items: center; /* Center vertically */
  //justify-content: center; /* Center horizontally */
}

.D-image, .D-text {
  flex: 1; /* Each takes up equal width */
  display: flex;
  color: rgba(250, 188, 6, 0.87);
  font-size: 2.5rem;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.D-image img {
  max-width: 100%; /* Make sure the image is responsive */
  height: auto;
}



#board:after {
  position: absolute;
  content: ' ';
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;

}

@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -50%;
  }
}

@keyframes obianimation {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



/* Set the scrolling animation and position it */
#content {
  color: rgba(250, 188, 6, 0.87);
  animation: scroll 60s linear 6s;
  position: absolute;
  top: 100%;
  z-index: 2;
}

#title, #subtitle {
  text-align: center;
  opacity: 1;
}
/* Page Header */
.wp-block-ms-block-demo-page-header {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 0 !important;
}
.wp-block-ms-block-demo-page-header .inner-page-header {
  width: 100%
}
@media (min-width: 640px) {
  .wp-block-ms-block-demo-page-header .inner-page-header {
    max-width: 640px
  }
}
@media (min-width: 768px) {
  .wp-block-ms-block-demo-page-header .inner-page-header {
    max-width: 768px
  }
}
@media (min-width: 1024px) {
  .wp-block-ms-block-demo-page-header .inner-page-header {
    max-width: 1024px
  }
}
@media (min-width: 1280px) {
  .wp-block-ms-block-demo-page-header .inner-page-header {
    max-width: 1280px
  }
}
@media (min-width: 1536px) {
  .wp-block-ms-block-demo-page-header .inner-page-header {
    max-width: 1536px
  }
}
.wp-block-ms-block-demo-page-header .inner-page-header {
  margin-left: auto;
  margin-right: auto
}
.wp-block-ms-block-demo-page-header h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  padding: 0;
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: white;
}

/* Set the animation, color, size and hide the text */
.intro {
  position: absolute;
  top: 30%;
  left: 25%;
  z-index: 1;
  animation: intro 4s ease-out 1s;
  color: rgb(75, 213, 238);
  font-weight: 400;
  font-size: 300%;
  opacity: 0;
  text-shadow: 7px 7px 3px rgba(0,0,0,0.6);
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}