.w50-2 {
  position: absolute;
  top: 35px;
  left: 50%;
  content: "";
  width: 50%;
  padding-left: 0%;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
}

.TopDiv {
  position: sticky;
}

.ce2 {
  width: 100%;
  height: 100%;
 // align-self: center;
  vertical-align: middle;
  //line-height: 2;
  float: left;
  // margin-top: -50px;
  //  transform: translateY(-50%);
  padding-left: 0%;
  // padding-bottom: 20px;
  // margin-bottom: 30px;
}

.aa_font1ms {
  // line-height: 70px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: clamp(1.8rem, 1.641025641vw, 3rem); /* Adjust min and max values as needed */
  letter-spacing: -1px;
  // line-height: 70px; // Set this to the height of .topper-inner
}
/*
.topper-outer {
  display: flex;
  background-color: transparent;
  align-items: center;
  position: sticky;
  top: -25px;
  height: 100px;
  width: 100%;
  z-index: 7;
  overflow-y: hidden !important;
  overflow-x: hidden;
}

.topper-inner {
  //color: white;
  display: flex !important;
  background-color: transparent;
  height: 70px;
  position: sticky;
  align-items: center !important;
  // top: 20px;
  width: 100%;
  box-shadow: 0 pxToRem(5px) pxToRem(15px) #1f1f1f;
  z-index: 7;
  overflow-y: hidden !important;
  overflow-x: hidden;
  //  border-radius: 100px;
  transition: all 1s;
}

.w50b {
  float: right;
  content: "";
  // margin-top: 10px;
  width: 65%;
  //  height: 6rem;
  padding-left: 0%;
  //  padding-top: 1rem;
  text-align: center;
  vertical-align: middle;
}
 */
.topper-outer {
  display: flex;
  background-color: transparent;
  align-items: center;
  position: sticky; // Keep the header sticky
  top: 0; // Adjusted to 0
  height: 70px;
  width: 100%;
  z-index: 7;
//  overflow: hidden; // Ensure no internal overflow
}

.topper-inner {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100%; // Ensure this matches .topper-outer height if necessary
  width: 100%;
  position: relative; // For absolute positioning context of children
  box-shadow: 0 5px 15px #1f1f1f;
  z-index: 7;
  transition: all 1s;
}
.aa_font2ms {
  // color: white;
  text-decoration: underline;
  font-size: 1rem;
  letter-spacing: 0;

}

.w50b {
  position: absolute;
  line-height: 70px;
  top: 50%; // Center vertically
  right: 0% !important; // Center horizontally
  transform: translateY( -50%); // Adjust for exact centering
  width: 75%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: right;
}

.hMichaelb {
  height: 80%;
  width: auto;
  margin-left: 10%;
  position: relative;
  padding-top: pxToRem(5px);
  padding-bottom: pxToRem(5px);
  text-shadow: pxToRem(7px) pxToRem(7px) pxToRem(7px) rgba(0, 0, 0, 0.6);
}

.hMichael2b {
  float: left;
  display: flex;
  align-items: center; // Aligns items on the current line
  flex-wrap: wrap; // Allows items to wrap onto multiple lines
  align-content: center; // Now effective, as flex items can wrap
  vertical-align: middle;
  width: 25%;
  height: 100%;
  position: relative;
  color: inherit;
  margin-top: 0%;
  margin-left: pxToRem(5px);
  text-decoration: none;
  content: "";
  text-shadow: pxToRem(7px) pxToRem(7px) pxToRem(7px) rgba(0, 0, 0, 0.6);
}





