/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=DotGothic16&family=Pixelify+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.w50-2 {
  position: absolute;
  top: 35px;
  left: 50%;
  content: "";
  width: 50%;
  padding-left: 0%;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
}

.TopDiv {
  position: sticky;
}

.ce2 {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  float: left;
  padding-left: 0%;
}

.aa_font1ms {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: clamp(1.8rem, 1.641025641vw, 3rem); /* Adjust min and max values as needed */
  letter-spacing: -1px;
}

/*
.topper-outer {
  display: flex;
  background-color: transparent;
  align-items: center;
  position: sticky;
  top: -25px;
  height: 100px;
  width: 100%;
  z-index: 7;
  overflow-y: hidden !important;
  overflow-x: hidden;
}

.topper-inner {
  //color: white;
  display: flex !important;
  background-color: transparent;
  height: 70px;
  position: sticky;
  align-items: center !important;
  // top: 20px;
  width: 100%;
  box-shadow: 0 pxToRem(5px) pxToRem(15px) #1f1f1f;
  z-index: 7;
  overflow-y: hidden !important;
  overflow-x: hidden;
  //  border-radius: 100px;
  transition: all 1s;
}

.w50b {
  float: right;
  content: "";
  // margin-top: 10px;
  width: 65%;
  //  height: 6rem;
  padding-left: 0%;
  //  padding-top: 1rem;
  text-align: center;
  vertical-align: middle;
}
 */
.topper-outer {
  display: flex;
  background-color: transparent;
  align-items: center;
  position: sticky;
  top: 0;
  height: 70px;
  width: 100%;
  z-index: 7;
}

.topper-inner {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100%;
  width: 100%;
  position: relative;
  box-shadow: 0 5px 15px #1f1f1f;
  z-index: 7;
  transition: all 1s;
}

.aa_font2ms {
  text-decoration: underline;
  font-size: 1rem;
  letter-spacing: 0;
}

.w50b {
  position: absolute;
  line-height: 70px;
  top: 50%;
  right: 0% !important;
  transform: translateY(-50%);
  width: 75%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: right;
}

.hMichaelb {
  height: 80%;
  width: auto;
  margin-left: 10%;
  position: relative;
  padding-top: pxToRem(5px);
  padding-bottom: pxToRem(5px);
  text-shadow: pxToRem(7px) pxToRem(7px) pxToRem(7px) rgba(0, 0, 0, 0.6);
}

.hMichael2b {
  float: left;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  vertical-align: middle;
  width: 25%;
  height: 100%;
  position: relative;
  color: inherit;
  margin-top: 0%;
  margin-left: pxToRem(5px);
  text-decoration: none;
  content: "";
  text-shadow: pxToRem(7px) pxToRem(7px) pxToRem(7px) rgba(0, 0, 0, 0.6);
}

.fade-in {
  opacity: 1;
  background-color: transparent;
  color: whitesmoke !important;
  width: 100vw;
  content: "";
  display: inline-flex;
}
.fade-in a, .fade-in span {
  color: whitesmoke;
}

.hAngel {
  height: pxToRem(50px);
  width: pxToRem(50px);
}

.hMichael {
  height: 80%;
  width: auto;
  margin-left: 10%;
  position: relative;
  padding-top: pxToRem(5px);
  padding-bottom: pxToRem(5px);
  text-shadow: pxToRem(7px) pxToRem(7px) pxToRem(7px) rgba(0, 0, 0, 0.6);
}

.hMichael2 {
  width: 40%;
  height: 100%;
  position: relative;
  display: flex;
  color: inherit;
  margin-top: 2.5%;
  margin-left: 5px;
  transform: translateY(-50%);
  text-decoration: none;
  content: "";
  align-content: center;
  text-shadow: pxToRem(7px) pxToRem(7px) pxToRem(7px) rgba(0, 0, 0, 0.6);
}

.aa_header-outer {
  display: flex;
  align-items: center;
  position: sticky;
  top: pxToRem(-30px);
  height: pxToRem(100px);
  width: 100vw;
  z-index: 7;
}

.hUp {
  content: "";
  position: relative;
  display: inline-block;
  height: pxToRem(50px);
  top: pxToRem(-5px);
}

.hUp-ms {
  content: "";
  position: relative;
  display: inline-block;
  height: pxToRem(50px);
  top: pxToRem(-5px);
}

.aa_header-inner {
  color: white;
  background-color: transparent;
  height: pxToRem(70px);
  position: sticky;
  vertical-align: middle;
  top: 0;
  width: 100vw;
  z-index: 7;
  transition: all 1s;
}
.admin-bar .aa_header-inner {
  top: 46px;
}
@media screen and (min-width: 783px) {
  .admin-bar .aa_header-inner {
    top: 32px;
  }
}

.center {
  float: left;
  content: "";
  width: 50%;
  padding-left: 0%;
  text-align: center;
  vertical-align: middle;
}

.w50 {
  float: right;
  content: "";
  width: 50%;
  padding-left: 0%;
  text-align: center;
  vertical-align: middle;
}

.boom {
  opacity: 1;
  background-color: whitesmoke !important;
  color: black !important;
  width: 100%;
  content: "";
  display: inline-block;
  clear: both;
  height: pxToRem(50px) !important;
  animation: explode 1s ease-in;
}

.fade-in {
  opacity: 1;
  background-color: transparent;
  color: whitesmoke !important;
  width: 100vw;
  content: "";
  line-height: pxToRem(70px) !important;
  display: inline-flex;
}
.fade-in a, .fade-in span {
  color: whitesmoke;
}

.boom2 {
  opacity: 1;
  background-color: whitesmoke !important;
  color: black !important;
  width: 100vw;
  content: "";
  display: inline-flex;
  clear: both;
  height: pxToRem(52px) !important;
  animation: explode 1s ease-in;
  line-height: pxToRem(52px) !important;
  box-shadow: 0 pxToRem(5px) pxToRem(15px) #1f1f1f;
}

@keyframes explode {}
.invisible {
  display: none;
}

.visible {
  display: inline-flex;
}

.black {
  color: black;
  opacity: 1 !important;
}

.m50 {
  height: 100%;
  margin-bottom: pxToRem(-150px);
  padding: 0 !important;
  overflow-y: hidden;
}

.MsNav {
  float: right;
  margin-right: 15%;
}
.MsNav .menu-icon {
  display: none;
  cursor: pointer;
  font-size: pxToRem(30px);
}
.MsNav .menu-icon ii {
  display: block;
}

.MsNav ul {
  text-align: center;
  list-style-type: none;
  font-size: pxToRem(20px);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.MsNav ul li {
  float: left;
}

.MsNav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: pxToRem(60px);
  box-sizing: border-box;
  padding: pxToRem(12px) pxToRem(16px);
  text-decoration: none;
}

.MsNav ul li a:hover {
  color: black;
  background-color: #4c8df8;
}

.MsNav ul.active {
  display: block;
}

@media only screen and (max-width: 1300px) {
  .fit {
    display: none;
  }
  .MsNav {
    margin-right: 7%;
  }
  .MsNav ul {
    float: right;
    margin-right: 0%;
    font-size: pxToRem(16px);
  }
  .MsNav ul .menu-icon {
    display: none;
    cursor: pointer;
    font-size: pxToRem(30px);
  }
  .MsNav ul .menu-icon ii {
    display: block;
    float: right;
  }
}
@media only screen and (max-width: 1000px) {
  .aa_font1ms {
    font-size: clamp(2rem, 1.641025641vw, 4rem) !important; /* Adjust min and max values as needed */
  }
  html {
    font-size: 14px;
  }
  .w50b {
    width: 30% !important;
  }
  .hMichael2b {
    width: 80% !important;
  }
  .MsNav .menu-icon {
    display: block;
  }
  .MsNav ul {
    display: none;
    font-size: pxToRem(40px);
    color: whitesmoke;
  }
  .MsNav ul li a {
    color: whitesmoke;
  }
}
@media only screen and (max-width: 1000px) and (max-width: 1000px) {
  .MsNav ul.active {
    display: flex !important;
    float: right;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
  }
}
@media only screen and (max-width: 1000px) {
  .vMenu {
    position: absolute;
    top: 150% !important;
    transform: translateX(-50%);
    width: 100%;
    display: block;
    align-items: stretch;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }
  .vMenu ul {
    background: rgba(0, 0, 0, 0.8);
  }
  .MsNav ul li {
    width: 100%;
  }
}
.MsNav ul li.submenu ul {
  display: none;
  position: absolute;
  min-width: pxToRem(160px);
  margin-bottom: 2vh;
}

.MsNav ul li.submenu:hover ul {
  display: block;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.6);
}

.MsNav ul li.submenu ul li {
  float: none;
}

.MsNav ul li.submenu ul li a {
  padding: pxToRem(8px) pxToRem(16px);
  display: block;
  text-align: left;
}

.aa_font1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: -1px;
}

.ms_font2 {
  text-decoration: underline;
  font-size: 1rem;
  letter-spacing: 0;
}

.ms_font3 {
  font-size: 14px;
  letter-spacing: 0;
}

.aa_font2 {
  text-decoration: underline;
  font-size: 1rem;
  letter-spacing: 0;
}

.aa_font4 {
  font-family: sans-serif;
  font-weight: 500;
  line-height: normal;
  font-size: 3.5rem;
  letter-spacing: 2px;
}

.aa_font3 {
  font-family: sans-serif;
  font-weight: 800;
  line-height: normal;
  font-size: 3.5rem;
  letter-spacing: -1px;
}

.aa_font5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 3.5rem;
  font-size: 1.3rem;
  letter-spacing: 1px;
  overflow-x: hidden;
}

.ms_font5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1rem;
  font-size: 1.2rem;
  letter-spacing: -1px;
  overflow-x: hidden;
}

.aa_font6 {
  color: #3d3c3c;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
  font-size: 1.1rem;
  letter-spacing: 0;
}

.ms_font6 {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-top: 0;
  line-height: 1.5rem;
  font-size: 0.9rem;
  letter-spacing: 0;
}

.aa_font7 {
  color: dimgray;
  padding: 0 5px 0 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
  line-height: 1.8rem;
  font-size: 1.1rem;
  letter-spacing: 0;
}

.aa_font8 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

/*# sourceMappingURL=main.css.map */
