/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=DotGothic16&family=Pixelify+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.w50-2 {
  position: absolute;
  top: 35px;
  left: 50%;
  content: "";
  width: 50%;
  padding-left: 0%;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
}

.TopDiv {
  position: sticky;
}

.fade-in {
  opacity: 1;
  line-height: 3;
  background-color: transparent;
  color: whitesmoke !important;
  width: 100vw;
  content: "";
  display: inline-block;
}
.fade-in a, .fade-in span {
  color: whitesmoke;
}

.hAngel {
  height: 50px;
  width: 50px;
}

.hMichael {
  height: 80%;
  width: auto;
  margin-left: 10%;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  text-shadow: 7px 7px 7px rgba(0, 0, 0, 0.6);
}

.hMichael2 {
  width: 40%;
  height: 100%;
  position: relative;
  display: flex;
  color: inherit;
  margin-top: 2.5%;
  margin-left: 5px;
  transform: translateY(-50%);
  text-decoration: none;
  content: "";
  align-content: center;
  text-shadow: 7px 7px 7px rgba(0, 0, 0, 0.6);
}

.aa_header-outer {
  display: flex;
  align-items: center;
  position: sticky;
  top: -30px;
  height: 100px;
  width: 100vw;
  z-index: 7;
}

.hUp {
  content: "";
  position: relative;
  display: inline-block;
  height: 50px;
  top: -5px;
}

.hUp-ms {
  content: "";
  position: relative;
  display: inline-block;
  height: 50px;
  top: -5px;
}

.aa_header-inner {
  color: white;
  background-color: transparent;
  height: 70px;
  position: sticky;
  vertical-align: middle;
  top: 0;
  width: 100vw;
  z-index: 7;
  transition: all 1s;
}
.admin-bar .aa_header-inner {
  top: 46px;
}
@media screen and (min-width: 783px) {
  .admin-bar .aa_header-inner {
    top: 32px;
  }
}

.center {
  float: left;
  content: "";
  width: 50%;
  padding-left: 0%;
  text-align: center;
  vertical-align: middle;
}

.ce2 {
  width: 50%;
  height: 100%;
  padding-left: 0%;
}

.w50 {
  float: right;
  content: "";
  width: 50%;
  padding-left: 0%;
  text-align: center;
  vertical-align: middle;
}

.boom {
  opacity: 1;
  background-color: whitesmoke !important;
  color: black !important;
  width: 100%;
  content: "";
  display: inline-block;
  clear: both;
  height: 50px !important;
  animation: explode 1s ease-in;
}

.boom2 {
  opacity: 1;
  background-color: whitesmoke !important;
  color: black !important;
  width: 100vw;
  content: "";
  display: inline-block;
  clear: both;
  height: 52px !important;
  animation: explode 1s ease-in;
  box-shadow: 0 5px 15px #1f1f1f;
}

@keyframes explode {}
.invisible {
  display: none;
}

.visible {
  display: inline-flex;
}

.black {
  color: black;
  opacity: 1 !important;
}

.m50 {
  height: 100%;
  margin-bottom: -150px;
  padding: 0 !important;
  overflow-y: hidden;
}

.MsNav ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.MsNav ul li {
  float: left;
}

.MsNav ul li a {
  display: block;
  color: inherit;
  background-color: inherit;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

.MsNav ul li a:hover {
  color: black;
  background-color: #4c8df8;
}

.MsNav ul li.submenu ul {
  display: none;
  position: absolute;
  min-width: 160px;
  margin-bottom: 2vh;
}

.MsNav ul li.submenu:hover ul {
  display: block;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.6);
}

.MsNav ul li.submenu ul li {
  float: none;
}

.MsNav ul li.submenu ul li a {
  padding: 8px 16px;
  display: block;
  text-align: left;
}

.aa_font1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: -1px;
}

.aa_font1ms {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: -1px;
}

.ms_font2 {
  text-decoration: underline;
  font-size: 1rem;
  letter-spacing: 0;
}

.ms_font3 {
  font-size: 14px;
  letter-spacing: 0;
}

.aa_font2 {
  text-decoration: underline;
  font-size: 1rem;
  letter-spacing: 0;
}

.aa_font4 {
  font-family: sans-serif;
  font-weight: 500;
  line-height: normal;
  font-size: 3.5rem;
  letter-spacing: 2px;
}

.aa_font3 {
  font-family: sans-serif;
  font-weight: 800;
  line-height: normal;
  font-size: 3.5rem;
  letter-spacing: -1px;
}

.aa_font5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 3.5rem;
  font-size: 1.3rem;
  letter-spacing: 1px;
  overflow-x: hidden;
}

.ms_font5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1rem;
  font-size: 1.2rem;
  letter-spacing: -1px;
  overflow-x: hidden;
}

.aa_font6 {
  color: #3d3c3c;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
  font-size: 1.1rem;
  letter-spacing: 0;
}

.ms_font6 {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-top: 0;
  line-height: 1.5rem;
  font-size: 0.9rem;
  letter-spacing: 0;
}

.aa_font7 {
  color: dimgray;
  padding: 0 5px 0 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
  line-height: 1.8rem;
  font-size: 1.1rem;
  letter-spacing: 0;
}

.aa_font8 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

/*# sourceMappingURL=main.css.map */
