@import "../../../assets/sass/abstracts/mixins";
@import "../../../assets/sass/abstracts/variables";
@import "../../../assets/sass/components/card-parallax";
@import "../../../assets/sass/components/ms-card";
@import "../../../assets/sass/components/ms-header";
@import "../../../assets/sass/pages/ms";
@import "../../../assets/sass/base/ms_fonts";
@import "../../../assets/sass/base/parallax-wrapper";
@import "../../../assets/sass/base/silver_font";


/*
.bk-image {
  width: 100%;
//  height: 90vw;
  position: fixed;
  top: 0;
  color: black;
  background-color: whitesmoke;
  z-index: 0;
}
*/







